@media (max-width: 1300px) {

  .header .container {
    flex-wrap: wrap;
  }

  .header {
    padding-top: 31px;
    padding-bottom: 23.5px;
  }

  .header__logo {
    order: 1;
    margin-right: auto;
    margin-bottom: 23px;
  }

  .header__nav {
    order: 3;
    flex-basis: 100%;
    justify-content: center;
  }

  .header__search {
    order: 2;
    margin-bottom: 23px;
  }

  .hero {
    padding-top: 101px;
    padding-bottom: 101px;
    background-image: url(../img/hero-medium.jpg);
  }

  .hero__descr {
    width: 75%;
    margin-bottom: 132px;
  }

  .hero__link {
    border-radius: 34px;
  }

  .about-us {
    padding-bottom: 69px;
  }

  .about-us__decsr {
    width: 100%;
  }

  .gallery {
    padding-bottom: 77.5px;
  }

  .gallery__content {
    flex-direction: column;
    align-items: flex-start;
  }

  .gallery__title {
    margin-bottom: 15px;
  }

  .gallery__inputs {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .catalog__descr {
    max-width: 100%;
  }

  .catalog__card {
    flex-direction: column;
    gap: 28px;
  }

  .catalog__artist {
    padding-top: 0;
    max-width: 100%;
  }

  .catalog__life {
    margin-bottom: 16px;
  }

  .catalog__list {
    gap: 49.9px;
  }

  .events {
    padding-top: 40px;
  }

  .events__articles_1::before,
  .events__articles_2::before,
  .events__articles_3::before {
    height: 200px;
    background-size: 100% 100%;
  }

  .events__list {
    gap: 28px;
  }

  .events__item {
    max-width: 289px;
  }

  .events__articles {
    padding-left: 11.6%;
    padding-right: 12.4%;
    padding-top: 215px;
    padding-bottom: 16.2%;
    min-height: 682px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .events__data {
    margin-left: auto;
  }

  .events__data_time {
    margin-bottom: 3px;
  }

  .events__name {
    margin-bottom: 5px;
  }

  .events__item:first-child .events__name {
    margin-bottom: 8px;
  }

  .project {
    padding-top: 41px;
  }

  .project__descr {
    width: 100%;
    margin-bottom: 20px;
  }

  .project__title {
    margin-bottom: 16px;
  }

  .project__list {
    gap: 27px;
  }

  .contacts {
    padding-top: 42px;
    padding-bottom: 40px;
  }

  .contacts__content {
    padding: 0;
    margin-bottom: 29px;
  }

  .contacts__place {
    margin-bottom: 10px;
  }

  .contacts__address {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
  }

  .contacts__form {
    padding: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .contacts__input {
    padding-top: 13px;
    padding-bottom: 14px;
    padding-right: 150px;
  }

  .contacts__btn {
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 42px;
    padding-right: 41px;
  }

  .contacts .container {
    flex-direction: column;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__logo {
    margin-top: 10px;
  }

  .footer__link svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 992px) {
  .header__list {
    gap: 44px;
    justify-content: center;
  }

  .hero {
    padding-top: 87px;
    padding-bottom: 85px;
  }

  .hero__descr {
    width: 80%;
  }

  .about-us__title {
    margin-bottom: 16px;
  }

  .gallery__pictures {
    gap: 33px;
  }

  .catalog__life {
    margin-bottom: 7px;
  }

  .events {
    padding-top: 39px;
  }

  .events__list {
    flex-direction: column;
    gap: 30px;
  }

  .events__item {
    max-width: 100%;
  }

  .events__articles_1::before,
  .events__articles_2::before,
  .events__articles_3::before {
    background-size: cover;
    background-position: center;
  }

  .events__articles_1::before {
    background-image: url(../img/event1__sm.jpg);
  }

  .events__articles {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 47px;
    min-height: 528px;
  }

  .events__item:first-child .events__name,
  .events__name {
    margin-bottom: 14px;
  }

  .project__descr {
    margin-bottom: 27px;
  }

  .project__subtitle {
    margin-bottom: 28px;
  }

  .project__list {
    gap: 35px;
  }

  .contacts__form {
    gap: 0;
  }

  .contacts__label {
    max-width: 324px;
    margin-bottom: 12px;
    margin-right: 20px;
  }

  .contacts__label:nth-child(2n) {
    margin-right: 0;
  }

  .contacts__btn {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 27px;
    padding-right: 29px;
  }
}

@media (max-width:767px) {

  .header__list {
    gap: 0;
  }

  .header__link {
    margin-right: 15px;
  }

  .header__item:last-child .header__link {
    margin-right: 0;
  }

  .contacts__label:nth-child(2n) {
    margin-right: 20px;
  }
}

@media (max-width: 576px) {

  .container {
    padding: 0 15px;
  }

  .header__link {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.34px;
    margin-right: 24px;
    white-space: nowrap;
  }

  .header__logo {
    margin-bottom: 6px;
  }

  .header__search {
    margin-bottom: 6px;
  }

  .header__list {
    justify-content: flex-start;
  }

  .header__nav {
    overflow-x: scroll;
    padding-bottom: 8px;
  }

  .header {
    padding-top: 16px;
    padding-bottom: 3.5px;
  }

  .header__search svg {
    width: 18px;
    height: 18px;
  }

  .hero {
    padding-top: 50px;
    padding-bottom: 51px;
    background-image: url(../img/hero__xs.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .hero .container {
    align-items: center;
  }

  .title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38.13px;
  }

  .hero__title,
  .hero__descr {
    text-align: center;
  }

  .hero__title {
    margin-bottom: 10px;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
  }

  .hero__descr {
    width: 86%;
    margin-bottom: 38px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
  }

  .hero__link {
    width: 200px;
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 11.5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.34px;
  }

  .about-us {
    padding-top: 50px;
    padding-bottom: 41px;
  }

  .about-us__decsr {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .about-us__title {
    margin-bottom: 12px;
  }

  .gallery {
    padding-top: 51px;
    padding-bottom: 47px;
  }

  .gallery__title {
    margin-bottom: 12px;
  }

  .gallery__pictures {
    flex-direction: column;
    gap: 27px;
  }

  .gallery__inputs {
    margin-bottom: 29px;
  }

  .catalog {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .catalog__title {
    margin-bottom: 11px;
  }

  .catalog__descr {
    margin-bottom: 30px;
  }

  .catalog__list {
    gap: 30px;
  }

  .catalog__card {
    gap: 18px;
  }

  .catalog__name {
    margin-bottom: 5px;
    width: 99%;
  }

  .catalog__life {
    margin-bottom: 14px;
  }

  .events {
    padding-top: 26px;
    padding-bottom: 24px;
  }

  .events__title {
    margin-bottom: 12px;
  }

  .events__articles {
    padding-left: 23px;
    padding-right: 18px;
    padding-bottom: 49px;
    min-height: 683px;
  }

  .events__articles_1::before {
    background-image: url(../img/events1.jpg);
  }

  .events__data_time {
    margin-bottom: 12px;
  }

  .events__item:first-child .events__name,
  .events__name {
    margin-bottom: 5px;
  }

  .events__list {
    gap: 19px;
  }

  .project {
    padding-top: 27px;
    padding-bottom: 25px;
  }

  .project__title {
    margin-bottom: 13px;
  }

  .project__descr {
    width: 99%;
    margin-bottom: 20px;
  }

  .project__subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .project__list {
    gap: 9px;
  }

  .contacts {
    padding-top: 21px;
    padding-bottom: 48px;
  }

  .contacts__content {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contacts__place {
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    margin-bottom: 5px;
  }

  .contacts__label {
    margin-bottom: 20px;
    width: 100%;
  }

  .contacts__label,
  .contacts__label:nth-child(2n) {
    margin-right: 0;
  }

  .contacts__input {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .btn-hidden {
    display: none;
  }

  .contacts__btn {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.34px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 34px;
    padding-right: 34px;
  }

  .contacts__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 6px;
  }

  .contacts__form {
    margin-bottom: 20px;
  }

  .contacts__input:focus:invalid+.contacts__incorrect {
    transform: translate(0, -25px);
  }

  .contacts__link svg {
    height: 50px;
    width: 50px;
  }

  .footer .container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  }

  .footer__list {
    margin-bottom: 16px;
    justify-content: center;
  }

  .footer__logo {
    margin: 0;
    margin-left: 11px;
  }

  .footer__link svg {
    height: 50px;
    width: 50px;
  }

  .footer {
    padding-top: 20px;
  }

}
