@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0px !important;
  padding: 0;
}

a:focus-visible,
a:active,
button:focus-visible {
  outline: 0;
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65.37px;
  color: var(--gray);
}

.title-h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
  color: var(--gray);
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --lila: #9D5CD0;
  --lightlila: #C283F3;
  --gray: #333333;
  --lightgray: #999999;
  --backgroundgray: #ECECEC;
  --bordergray: #CACACA;
  --darklila: #7943A4;
  --outlinelila: #D1A9F0;
  --invalidred: #D11616;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--gray);
}

.subtext {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: var(--lightgray);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* HEADER */

.header {
  background-color: var(--black);
  padding-top: 30px;
  padding-bottom: 27px;
}

.header__logo {
  margin-right: 11.1%;
}

.header__logo:focus-visible {
  outline: 1px solid var(--darklila);
}

.header__nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header__list {
  gap: 96px;
}

.header__link {
  position: relative;
  z-index: 1;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__link::before {
  content: '';
  background-color: var(--darklila);
  position: absolute;
  z-index: -1;
  left: -5px;
  right: -5px;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__link:focus-visible::before {
  opacity: 1;
}

.header__link:hover:not(:focus-visible):not(:active) {
  color: var(--lightlila);
}

.header__link:active {
  color: var(--darklila);
}

.header__search svg {
  fill: var(--white);
  transition: fill 0.3s ease-in-out;
  width: 28px;
  height: 28px;
}

.header__search {
  transition: background-color 0.3s ease-in-out;
}

.header__search:focus-visible {
  background-color: var(--darklila);
}

.header__search:hover:not(:focus-visible):not(:active) svg {
  fill: var(--lightlila);
}

.header__search:active svg {
  fill: var(--darklila);
}


/* HERO */

.hero {
  padding-top: 146px;
  padding-bottom: 145.5px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  flex-direction: column;
}

.hero__title {
  margin: 0;
  color: var(--white);
  font-size: 72px;
  font-weight: 700;
  line-height: 68px;
  width: 36%;
  margin-bottom: 20px;
}

.hero__descr {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
  width: 34%;
  margin-bottom: 91px;
}

.hero__link {
  position: relative;
  width: 313px;
  padding: 23px 35px;
  padding-right: 33px;
  background-color: var(--lila);
  border-radius: 30px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  outline: none;
  transition: outline 0.1s ease-in-out, background-color 0.3s ease-in-out;
}

.hero__link::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: inherit;
  outline: 2px solid var(--lightlila);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero__link:focus-visible::after {
  opacity: 1;
}

.hero__link:hover:not(:focus-visible):not(:active) {
  outline: 3px solid var(--outlinelila);
}

.hero__link:active {
  outline: 3px solid var(--outlinelila);
  background-color: var(--darklila);
}


/* ABOUT-US */

.about-us {
  padding-top: 80px;
  padding-bottom: 70px;
}

.about-us__title {
  margin-bottom: 17px;
}

.about-us__decsr {
  width: 67%;
}

/* GALLERY */

.gallery {
  background-image: url(../img/gallery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 76.5px;
}

.gallery__title {
  color: var(--white);
  margin-bottom: 19px;
}

.gallery__inputs {
  flex-direction: column;
  margin-right: 18.99%;
}

.gallery__input {
  appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
  position: relative;
  transition: all 0.3s ease;
  outline: none;
  cursor: pointer;
}

.gallery__input:checked {
  border-color: var(--lightlila);
}

.gallery__input:checked::before,
.gallery__input:active::before {
  content: '';
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  width: 4px;
  height: 4px;
  background-color: var(--lightlila);
  border-radius: 50%;
  opacity: 1;
}

.gallery__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white);
  transition: color 0.3s ease;
  cursor: pointer;
  align-items: center;
  gap: 12px;
}

.gallery__input:focus-visible {
  border-color: var(--lightlila);
}

.gallery__label:has(.gallery__input:focus-visible) {
  color: var(--lightlila);
}

.gallery__label:hover .gallery__input:not(:focus-visible) {
  border-color: var(--lightlila);
}

.gallery__input:active {
  border-color: var(--lightlila);
}

.gallery__label:active {
  color: var(--lightlila);
  transform: scale(0.98);
}

.gallery__pictures {
  gap: 50px;
}

.gallery__content {
  align-items: flex-end;
}

.gallery__picture,
.gallery__link {
  outline: none;
  transition: all 0.3s ease;
}

.gallery__picture {
  position: relative;
}

.gallery__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(194, 131, 243, 0.5);
  opacity: 0;
}

.gallery__link:focus-visible::before {
  opacity: 1;
}

.gallery__picture:hover:not(:focus-within):not(:active),
.gallery__link:hover:not(:focus-visible):not(:active) {
  transform: scale(1.1);
}

.gallery__link:active::before {
  opacity: 0;
}

.gallery__picture:active,
.gallery__link:active {
  transform: scale(0.9);
}

/* CATALOG */

.catalog {
  padding-top: 80px;
  padding-bottom: 40px;
}

.catalog__list {
  flex-direction: column;
  gap: 47px;
}

.catalog__card {
  gap: 3.12%;
}

.catalog__artist {
  flex-direction: column;
  max-width: 50%;
  justify-content: center;
}

.catalog__title {
  margin-bottom: 16px;
}

.catalog__descr {
  margin-bottom: 39px;
  max-width: 68%;
}

.catalog__name {
  margin-bottom: 8px;
}

.catalog__life {
  margin-bottom: 14px;
}

/* EVENTS */

.events {
  padding-top: 37px;
  padding-bottom: 40px;
}

.events__title {
  margin-bottom: 15px;
}

.events__list {
  gap: 50px;
  flex-wrap: wrap;
}

.events__item {
  max-width: 500px;
}

.events__articles {
  padding: 10%;
  padding-top: 313px;
  padding-bottom: 8%;
  flex-direction: column;
  outline: 1px solid var(--bordergray);
  min-height: 700px;
  position: relative;
}

.events__articles_1::before {
  background-image: url(../img/events1.jpg);
  background-repeat: no-repeat;
  position: absolute;
  content: '';
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
}

.events__articles_2::before {
  background-image: url(../img/events2.jpg);
  background-repeat: no-repeat;
  position: absolute;
  content: '';
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
}

.events__articles_3::before {
  background-image: url(../img/events3.jpg);
  background-repeat: no-repeat;
  position: absolute;
  content: '';
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
}

.events__data {
  font-weight: 600;
}

.events__link {
  color: var(--lila);
  position: relative;
  width: 5.6em;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.events__link::after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: 3.5px;
  width: 5.4em;
  height: 1px;
  background-color: var(--lila);
  transition: background-color 0.3s ease-in-out;
}

.events__link:focus-visible {
  background-color: var(--lila);
  color: var(--white);
}

.events__link:focus-visible::after {
  background-color: var(--white);
}

.events__link:hover:not(:focus-visible):not(:active) {
  color: var(--darklila);
}

.events__link:hover:not(:focus-visible):not(:active)::after {
  background-color: var(--darklila);

}

.events__link:active {
  color: var(--gray);
}

.events__link:active::after {
  background-color: var(--gray);
}

.events__data_time {
  margin-bottom: 13px;
}

.events__name {
  margin-bottom: 10px;
}

.events__descr {
  margin-bottom: auto;
}

/* PROJECT */

.project {
  padding-top: 40.5px;
  padding-bottom: 77px;
  border-bottom: 1px solid var(--bordergray);
}

.project__title {
  margin-bottom: 15px;
}

.project__descr {
  margin-bottom: 30px;
  width: 67%;
}

.project__subtitle {
  margin-bottom: 15px;
}

.project__list {
  gap: 33px;
  flex-wrap: wrap;
}

/* CONTACTS */

.contacts {
  padding-top: 38px;
  padding-bottom: 34px;
}

.contacts .container {
  flex-wrap: wrap;
}

.contacts__content {
  padding-top: 7px;
  padding-bottom: 7px;
  flex-direction: column;
  margin-right: 80px;
}

.contacts__links {
  flex-direction: column;
}

.contacts__address {
  font-style: normal;
}

.contacts__form {
  margin-right: 4.95%;
  gap: 20px;
  padding-top: 13px;
  padding-bottom: 18px;
  flex-wrap: wrap;
}

.contacts__input:focus-visible {
  background-color: var(--backgroundgray);
  outline: none;
}

.contacts__input:hover:not(:focus-visible) {
  background-color: var(--backgroundgray);
}

.contacts__label {
  min-width: 270px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts__input:valid,
.contacts__input:focus:valid {
  outline: none;
  background-color: var(--backgroundgray);
}

.contacts__input:focus:invalid {
  border-color: var(--invalidred);
  ;
  outline: none;
}

.contacts__input:focus:invalid+.contacts__incorrect {
  opacity: 1;
  transform: translate(0, -35px);
}

.contacts__incorrect {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 15px;
  transform: translate(0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: var(--invalidred);
  transition: opacity .4s ease, transform .4s ease;
}

.contacts__input {
  border-radius: 100px;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  border: 1px solid var(--gray);
  transition: background-color 0.3s ease-in-out;
}

.contacts__btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  border: 2px solid var(--lila);
  border-radius: 100px;
  color: var(--lila);
  padding-left: 34px;
  padding-right: 35px;
  transition: outline 0.1s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contacts__btn:focus-visible {
  outline: 2px solid var(--lightlila);
  outline-offset: 3px;
}

.contacts__btn:hover:not(:focus-visible):not(:active) {
  background-color: var(--lila);
  color: var(--white);
}

.contacts__btn:active {
  background-color: var(--darklila);
  outline: 3px solid var(--outlinelila);
  color: var(--white);
}

.contacts__title {
  margin-bottom: 5px;
}

.contacts__list {
  gap: 20px;
}

.contacts__link {
  opacity: 100%;
  outline: none;
  transition: opacity 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.contacts__link:focus-visible {
  opacity: 50%;
}

.contacts__link:hover:not(:focus-visible):not(:active) {
  opacity: 50%;
}

.contacts__link:active svg {
  outline: 1px solid var(--lila);
  border-radius: 100%;
}

/* FOOTER */

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--black);
}

.footer__logo {
  margin-right: auto;
}

.footer__list {
  gap: 20px;
}

.footer__link svg path {
  fill: var(--bordergray);
  transition: fill 0.3s ease-in-out;
}

.footer__link:focus-visible svg path {
  fill: var(--white);
}

.footer__link:hover:not(:focus-visible):not(:active) svg path {
  fill: var(--white);
}

.footer__link:active svg path {
  fill: var(--lila);
}
